.action-icon {
  height: 1.5rem;
  margin-right: 0.25rem;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.action {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 3px;
}

@media only screen and (max-width: 824px) {
  .actions {
    display: block;
  }
  .action {
    margin: 1rem;
  }
  .action-icon {
    height: 1.8rem;
    font-size: 1.1rem;
    margin-right: 0.25rem;
  }
  .react-datepicker {
    font-size: 1.5em !important;
  }
  .react-datepicker__header {
    padding-top: 0.5em !important;
  }
  .react-datepicker__month {
    margin: 0.4em 1em !important;
  }
  .react-datepicker__day-name, .react-datepicker__day {
    width: 1.9em !important;
    line-height: 1.9em !important;
    margin: 0.166em !important;
  }
  .react-datepicker__current-month {
    font-size: 1.3em !important;
  }
  .react-datepicker__navigation {
    top: 1em !important;
    line-height: 1.7em !important;
  }
  .react-datepicker__navigation--previous {
    border-right-color: #ccc !important;
    left: 1em !important;
  }
  .react-datepicker__navigation--next {
    border-left-color: #ccc !important;
    right: 1em !important;
  }
}

.game-icon {
  width: 2.5rem;
  margin-right: 1rem;
}

.italic-subtext {
  font-style: italic;
  font-size: 0.75rem;
}
